.wrapper {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.userData {
  flex-direction: column;
}

.checkBox {
  margin-right: 20px;
  width: 20px;
  height: 20px;
}

.name {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16pt;
}

.email {
  color: #666;
}

.userDetails {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  width: 200px;
  align-items: center;
}

@media (max-width: 767px) {
  .userDetails {
    margin-left: 40px;
    width: 100%;
    justify-content: space-around;
  }
}

.gender {
  text-transform: capitalize;
}

.status {
  height: 40px;
  min-width: 80px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: 10px;
}

.activeStatus {
  composes: status;
  background-color: rgb(186, 240, 186);
}

.inactiveStatus {
  composes: status;
  background-color: #eee;
}
